@layer components {
	.drawer {
		@apply grid w-full overflow-hidden;

		height: 100vh;
		height: 100dvh;

		&.drawer-end {
			direction: rtl;
		}
		&.drawer-end > * {
			direction: ltr;
		}
		&.drawer-end > .drawer-toggle {
			& ~ .drawer-side > .drawer-overlay + * {
				@apply translate-x-full justify-self-end;
			}
			&:checked ~ .drawer-side > .drawer-overlay + * {
				@apply translate-x-0;
			}
		}
	}
	:where(.drawer-toggle ~ .drawer-content) {
		height: inherit;
	}
	.drawer-toggle {
		@apply absolute h-0 w-0 appearance-none opacity-0;
		& ~ .drawer-content {
			@apply z-0 col-start-1 row-start-1 overflow-y-auto;
		}
		& ~ .drawer-side {
			@apply col-start-1 row-start-1 grid max-h-screen overflow-y-auto;
			& > .drawer-overlay {
				@apply invisible z-10 col-start-1 row-start-1 opacity-0 md:z-0;
			}
			& > .drawer-overlay + * {
				@apply z-20 col-start-1 row-start-1 -translate-x-full transform md:z-0;
			}
		}
		&:checked {
			& ~ .drawer-side {
				@apply overflow-y-auto;
				& > .drawer-overlay {
					@apply visible;
				}
				& > .drawer-overlay + * {
					@apply translate-x-0;
				}
			}
		}
	}

	[dir='rtl'] .drawer-toggle ~ .drawer-side > .drawer-overlay + * {
		@apply translate-x-full;
	}
	[dir='rtl'] .drawer-toggle:checked ~ .drawer-side > .drawer-overlay + * {
		@apply translate-x-0;
	}

	@media (min-width: 720px) {
		.drawer-mobile {
			grid-auto-columns: max-content auto;
			& > .drawer-toggle {
				& ~ .drawer-content {
					@apply h-auto md:col-start-2;
				}
				& ~ .drawer-side {
					@apply overflow-y-auto;
					& > .drawer-overlay {
						@apply md:visible;
					}
					& > .drawer-overlay + * {
						@apply md:translate-x-0;
					}
				}
			}
		}
		.drawer-mobile.drawer-end {
			grid-auto-columns: auto max-content;
			direction: ltr;
			& > .drawer-toggle {
				& ~ .drawer-content {
					@apply h-auto md:col-start-1;
				}
				& ~ .drawer-side {
					@apply overflow-y-auto md:col-start-2;
					& > .drawer-overlay {
						@apply md:visible;
					}
					& > .drawer-overlay + * {
						@apply md:translate-x-0;
					}
				}
			}
		}
	}

	/* styled */

	.drawer.drawer-end > .drawer-toggle:checked ~ .drawer-content {
		@apply -translate-x-2;
	}
	.drawer-toggle {
		& ~ .drawer-content {
			@apply transition-all duration-300 ease-in-out;
		}
		& ~ .drawer-side {
			& > .drawer-overlay {
				@apply cursor-pointer bg-black transition-all duration-300 ease-in-out;
			}
			& > .drawer-overlay + * {
				@apply transition-all duration-300 ease-in-out;
			}
		}
		&:checked {
			& ~ .drawer-content {
				@apply translate-x-3;
			}
			& ~ .drawer-side {
				& > .drawer-overlay {
					opacity: 0.999999; /* 1 causes a bug on chrome 🤷‍♂️ */
					@apply bg-opacity-10;
				}
			}
		}
	}
	@media (min-width: 720px) {
		.drawer-mobile {
			& > .drawer-toggle {
				&:checked {
					& ~ .drawer-content {
						@apply translate-x-0;
					}
				}
			}
		}
	}

	.drawer-button {
		@apply md:hidden;
	}
}
